.red-snackbar {
    background-color: rgb(153, 50, 50);
    color: lightgoldenrodyellow;
}

.mat-form-field {
    width: 100%;
}

.botonGuardarCliente {
    width: 50%;
    margin-bottom: 40px;
    font-size: 18px;
}

.botonGuardarCliente:hover {
    color: #616161;
    background-color: rgb(199, 193, 193);
}